@import '../../variables.scss';

.nav {
  background-color: $dark;

  .brand {
    color: $white !important;
  }
  .brand:hover {
    color: $green !important;
    cursor: pointer;
  }

  .dropdown {
    color: $green;
  }
  .dropdown-item:hover {
    color: $green;
  }
  .dropdown-item:active {
    background-color: $green;
    color: $white;
  }
}

.navbar-collapse {
  justify-content: space-between;
}

.right-side {
  color: $white;
}

.show,
.collapsing {
  display: flex;
  justify-content: space-between;
}
